@font-face {
    src: url("./light.woff2") format('woff2');
    font-style: normal;
    font-weight: 300;
    font-family: Gotham;
}

@font-face {
    src: url("./book.woff2") format('woff2');
    font-style: normal;
    font-weight: 400;
    font-family: Gotham;
}

@font-face {
    src: url("./medium.woff2") format('woff2');
    font-style: normal;
    font-weight: 500;
    font-family: Gotham;
}

@font-face {
    src: url("./bold.woff2") format('woff2');
    font-style: normal;
    font-weight: 700;
    font-family: Gotham;
}

@font-face {
    src: url("./black.woff2") format('woff2');
    font-style: normal;
    font-weight: 800;
    font-family: Gotham;
}