@import url('./font/nunito-sans');
@import url('./font/raleway');
@import url('./font/gotham');
@import url('./font/nunito');

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

strong,
b {
    font-weight: 700;
}

body {
    color: #FFFFFF;
    margin: 0;
    font-size: 1rem;
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 500;
    line-height: 1.43;
}

*::-webkit-scrollbar {
    width: 12px;
    background: #0000001a;
}

*::-webkit-scrollbar-thumb {
    border: 2px solid #00000000;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #ffffff14;
}